/*-------------------header-------------------------*/
header {
    background-color: #343a40;
    
}

/* html{
    font-size: 62.5%;
} */
header nav {
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
header nav a { 
    text-decoration: none;
}

.ursule {
    color: white;
    font-weight: 500;
    padding: 1% 1%;
    
}

.administration {
    text-align: right;
    color: grey;
    padding: 1% 1%;
    
}
/*-------------------main-------------------------*/
/*-------------------section1-------------------------*/
h1 {
    font-family:'Raleway', sans-serif;
    text-align: left;
    
}
h1, h2 {
    color: black;
}

h2 {
    text-align: center;
}
.section1 {
    background: url('../Blog.version2/imgs/fond.jpg') no-repeat top center;
   
    padding: 5%;
}
.section1 h1 {
    margin: 0;
}

/*-------------------container-------------------------*/
.container {
    display: flex;
}
.section2 {
    width: 22%;
    padding: 5%;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.category {
    padding: 3%;
    border-bottom: 2px solid #e6c252;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
.category p {
    padding: 1%;
    margin: 2%;
}
h3 {
    color: white;
    font-weight: bold;
    padding: 0 4%;
}
.category, button {
    background-color: #fcba03;
}

.post p {
    padding: 3%;
}

.post {
    padding-bottom: 10%;
    padding-right: 5%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
span {
    background-color: #343a40;
    color: white;
    font-size: small;
    font-weight: bold;
    margin: 1%;
    border-radius: 4px;
}

button {
    margin-bottom: 2%;
    float: right;
    padding: 2%;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);

}

.author p {
    clear: both;
    font-size: small;
    padding: 5% 0;
    padding-left: 3%;
    background-color: #6c757d;
    color: white;
}
.author {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}
/*-------------------section3-------------------------*/
.section3 {
    background-color: #e9ecef;
    padding: 1%;
}
.section3 a {
    text-decoration: none;
}
.bleu {
    color: blue;
}
.gris {
    color: grey;
}
/*-------------------container1-------------------------*/
.container1 {
    padding: 3%;
    
}
.titre {
    background: url('../Blog.version2/imgs/fond.jpg') no-repeat top center;
    border-radius: 3px;
    background-size: cover;
    padding: 5% 3%;
}
.titre h3 {
    border-bottom: 1px solid grey;
    margin: 0 5%;
    padding: 2% 0;
    color: black;
    text-align: center;
}
/*-------------------container2-------------------------*/

.container2 {
    background-color: #6c757d;
}
.text-white
{
    font-size: 14px;
}
h4 {
    color: white;
    text-align: center;
}
/*-------------------comment-list-------------------------*/
.comment-list {
    background-color: #343a40;
    margin: 0 2%;
}
.comment {
    list-style-type: none;
}
.comment h4 {
    color: white;
}
/*-------------------form-------------------------*/
form {
    margin-top: 2em;
}
form fieldset {
    border-radius: 4px;
}
form fieldset legend {
    padding: 0 0.2em;
    background-color: #343a40;
    color: white;
    text-align: center;
}
form ul {
    background-color: #ffc107;
}

hr {
    margin-bottom: 2em;
    margin-top: 2em;
}
.w{
  width: 48%;
}
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: white;
    background-color: #6c757d;
}
.btn-secondary {
     margin-left: 72%; 
}
.w1
{
    width: 90%;
}

/*-------------------footer-------------------------*/
footer,main {
    margin: 0 auto;
  
}

footer {
    background-color: #343a40;
    margin-top: 3em;
    padding: 0.5%;
}
footer strong {
    color: white;
}
footer p {
    color: grey;
    font-weight: 900;
    font-size: small;
    text-align: center;
}
footer img {
    display: block;
    margin: auto;
    height: 50px;
    padding-top: 10px;
}


